extends layout.pug 

block content 
  .container.mt-5
    if errors && errors.length > 0
      .alert.alert-danger(role="alert")
        ul.mb-0
          each error in errors
            li= error.msg  

  .container.mt-5
    h2 Login
    form(action="/login" method="POST")
      .mb-3
        label(for="email" class="form-label") Email 
        input#email.form-control(type="email" name="email" required placeholder="username@gmail.com")
      
      .mb-3
        label(for="password" class="form-label") Password 
        input#password.form-control(type="password" name="password" required min="3" max="15")

      button(type="submit" class="btn btn-primary") Login
      p.mt-3
        | Not registered? 
        a(href="/register") Create an account
