extends layout.pug

block content
  .container
    .row
      .col-12.mt-4
        if currentUser
          h1 Welcome back #{currentUser.username}
        else 
          h1 Welcome to FileShare!
        p Share your files with others.

    .row.mt-4
      .col-md-6
        if currentUser
          h2 Upload a File
          form(action="/upload" method="POST" enctype="multipart/form-data")
            .mb-3
              label(for="file", class="form-label") Select file to upload:
              input(type="file" name="file" id="file" class="form-control")
            .mb-3
              label(for="description", class="form-label") File description (optional):
              input(type="text" name="description" id="description" class="form-control")
            button(type="submit" class="btn btn-primary") Upload File
        else
          h2 Start Sharing Your Files
          p To start uploading files, please 
          a(href="/register") create an account
          |  or 
          a(href="/login") log in

      .col-md-6
        h2 Recently Uploaded Files
        ul.list-group
          li.list-group-item
            a(href="#") Example File 1
            p Uploaded by: User1 | Date: 2024-10-03
          li.list-group-item
            a(href="#") Example File 2
            p Uploaded by: User2 | Date: 2024-10-02
          li.list-group-item
            a(href="#") Example File 3
            p Uploaded by: User3 | Date: 2024-10-01
