nav.navbar.navbar-expand.navbar-dark.bg-dark
    .container
        a.navbar-brand(href="/") FileShare

        ul.navbar-nav.ms-auto
            li.nav-item
                a.nav-link(href="/") Home
            if !locals.currentUser
                li.nav-item
                    a.nav-link(href="/login") Login
                li.nav-item
                    a.nav-link(href="/register") Register
            else 
                li.nav-item     
                    a.nav-link(href='/logout') Logout
