nav.navbar.navbar-expand.navbar-dark.bg-dark
    .container
        a.navbar-brand(href="/") FileShare

        ul.navbar-nav.ms-auto
            if !locals.currentUser
                li.nav-item
                    a.nav-link(href="/login") Login
                li.nav-item
                    a.nav-link(href="/register") Register
            else 
                li.nav-item     
                    a.nav-link(href='/files') Files 
                li.nav-item     
                    a.nav-link(href='/folders') Folders
                li.nav-item
                    include createFolderForm.pug
                li.nav-item     
                    a.nav-link(href='/logout') Logout
