nav.navbar.navbar-expand.navbar-dark.bg-dark
    .container
        a.navbar-brand(href="#") FileShare

        ul.navbar-nav.ms-auto
            li.nav-item
                a.nav-link(href="#") Home
            li.nav-item
                a.nav-link(href="#") Login
            li.nav-item
                a.nav-link(href="#") Register
