extends layout.pug 

block content 
  .container.mt-5
    if errors && errors.length > 0
      .alert.alert-danger(role="alert")
        ul.mb-0
          each error in errors
            li= error.msg  

  .container.mt-5
    h2 Register
    form(action="/register" method="POST")
      .mb-3
        label(for="email" class="form-label") Email 
        input#email.form-control(type="email" name="email" required placeholder="username@gmail.com")
      
      .mb-3
        label(for="password" class="form-label") Password 
        input#password.form-control(type="password" name="password" required min="6" max="50")
      
      .mb-3
        label(for="confirm_password" class="form-label") Confirm Password 
        input#confirm_password.form-control(type="password" name="confirm_password" required min="6" max="50")

      button(type="submit" class="btn btn-primary") Register
      
      p.mt-3
        | Already a user? 
        a(href="/login") Login
