form(action=`/files` method="POST" enctype="multipart/form-data")
            .mb-3
              label(for="fileName" class="form-label") File Name
              input#fileName.form-control(type="text" name="fileName" required placeholder="Enter file name")
              
            .mb-3
              label(for="file" class="form-label") Choose File
              input#file.form-control(type="file" name="file" required)

            // Folder Selection
            if userFolders.length > 0
              .mb-3
                label(for="folder_id" class="form-label") Select Folder
                select#folderId.form-control(name="folder_id" required)
                  each folder in userFolders
                    option(value=folder.id) #{folder.name}
            else
              p.text-muted.mb-3 Please create a folder first to upload files.

            button.btn.btn-primary(type="submit") Upload File