
head    
    title fileShare 
    link(rel="shortcut icon", href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAADaXegAAAAAAOSi6wDfuuMA4IHrANU85gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEREREREREREREREREREREREREREREREREREREzEREREREREyIxEREREREyRCMREREREyRVAjEREREyRVVUIxEREyRVRFVCMREyRVQiRVQjEyRVQjMkVUIxMkQjETJEIxETIjEREyIxEREzERERMxERERERERERERERERERERERH//wAA//8AAP//AAD+fwAA/D8AAPgfAADwDwAA4AcAAMADAACAAQAAAAAAAIGBAADDwwAA5+cAAP//AAD//wAA", type="image/x-icon")